SalesWSTool/SalesWSTool/Service References/ServiceSalesWS/SalesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51372/Services/SalesWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51372/Services/SalesWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51372/Services/SalesWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SalesWSServices.Services" />
      <xsd:import schemaLocation="http://localhost:51372/Services/SalesWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SalesWSServices.Data" />
      <xsd:import schemaLocation="http://localhost:51372/Services/SalesWS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:51372/Services/SalesWS.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesWS_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="ISalesWS_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesWS_AddPricingRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPricingRecord" />
  </wsdl:message>
  <wsdl:message name="ISalesWS_AddPricingRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPricingRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesWS_UpdateBranchProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBranchProduct" />
  </wsdl:message>
  <wsdl:message name="ISalesWS_UpdateBranchProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBranchProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesWS_GetProductByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByID" />
  </wsdl:message>
  <wsdl:message name="ISalesWS_GetProductByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesWS_DeletePricingByProductID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePricingByProductID" />
  </wsdl:message>
  <wsdl:message name="ISalesWS_DeletePricingByProductID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePricingByProductIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesWS">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesWS/GetProducts" message="tns:ISalesWS_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesWS/GetProductsResponse" message="tns:ISalesWS_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPricingRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesWS/AddPricingRecord" message="tns:ISalesWS_AddPricingRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesWS/AddPricingRecordResponse" message="tns:ISalesWS_AddPricingRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBranchProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesWS/UpdateBranchProduct" message="tns:ISalesWS_UpdateBranchProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesWS/UpdateBranchProductResponse" message="tns:ISalesWS_UpdateBranchProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesWS/GetProductByID" message="tns:ISalesWS_GetProductByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesWS/GetProductByIDResponse" message="tns:ISalesWS_GetProductByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePricingByProductID">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesWS/DeletePricingByProductID" message="tns:ISalesWS_DeletePricingByProductID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesWS/DeletePricingByProductIDResponse" message="tns:ISalesWS_DeletePricingByProductID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesWS" type="tns:ISalesWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/ISalesWS/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPricingRecord">
      <soap:operation soapAction="http://tempuri.org/ISalesWS/AddPricingRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBranchProduct">
      <soap:operation soapAction="http://tempuri.org/ISalesWS/UpdateBranchProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <soap:operation soapAction="http://tempuri.org/ISalesWS/GetProductByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePricingByProductID">
      <soap:operation soapAction="http://tempuri.org/ISalesWS/DeletePricingByProductID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesWS">
    <wsdl:port name="BasicHttpBinding_ISalesWS" binding="tns:BasicHttpBinding_ISalesWS">
      <soap:address location="http://localhost:51372/Services/SalesWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>