SalesWSTool/SalesWSTool/Service References/ServiceSalesWS/SalesWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SalesWSServices.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SalesWSServices.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfwsProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wsProducts" nillable="true" type="tns:wsProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfwsProducts" nillable="true" type="tns:ArrayOfwsProducts" />
  <xs:complexType name="wsProducts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="wsProducts" nillable="true" type="tns:wsProducts" />
  <xs:complexType name="SalesWSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CounterUpdated" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesWSResult" nillable="true" type="tns:SalesWSResult" />
</xs:schema>